{$obj_prefix = "`$block.block_id`000"}

{if $block.properties.outside_navigation == "Y"}
    <div class="owl-theme ty-owl-controls">
        <div class="owl-controls clickable owl-controls-outside" id="owl_outside_nav_{$block.block_id}">
            <div class="owl-buttons">
                <div id="owl_prev_{$obj_prefix}" class="owl-prev"><i class="ty-icon-left-open-thin"></i></div>
                <div id="owl_next_{$obj_prefix}" class="owl-next"><i class="ty-icon-right-open-thin"></i></div>
            </div>
        </div>
    </div>
{/if}

<div id="scroll_list_{$block.block_id}" class="owl-carousel">
    {foreach from=$staff_members item="staff_member" name="for_staff_members"}
            {include file="common/image.tpl" assign="object_img" image_width=$block.properties.thumbnail_width image_height=$block.properties.thumbnail_width images=$staff_member.image_pair no_ids=true lazy_load=true obj_id="scr_`$block.block_id`000`$staff_member.staff_id`"}
            <div class="ty-center">
                {$object_img nofilter}
				<div class="staff_name">{$staff_member.lastname} {$staff_member.firstname}</div>
				<div class="staff_function">{$staff_member.function}</div>
				
				{include file="addons/staff/views/mail.tpl"}
				
				
            </div>
    {/foreach}
</div>
{include file="common/scroller_init.tpl" items=$staff_members prev_selector="#owl_prev_`$obj_prefix`" next_selector="#owl_next_`$obj_prefix`"}

{script src="js/addons/staff/func.js"}
