<div id="div_staff_{$staff_member.staff_id}">
{if $mail}
<div id="div_staff_{$staff_member.staff_id}">
	<a href="mailto:{$mail|escape:url}">{$mail}</a>
{else}
	<a href="#" class="mail_a" staff_id="{$staff_member.staff_id}">{__("show_email")}</a>
{/if}
<!--div_staff_{$staff_member.staff_id}-->
</div>